PLAN
TODO

# ansible
ansible/*/certs
openvpn_client_certs/*
ansible/*/artifacts/*
ansible/*/inventory/*

# terraform 
.terraform
*.tfstate*
terraform.tfvars
bootstrap-secrets.json
.DS_Store

# python
__pycache__

# venv
bin 
lib
pyvenv.cfg
include