PLAN
TODO


.vscode

# ansible
ansible/*/artifacts
ansible/*/inventory/*
ansible/caldera/project/roles/caldera/files

# terraform 
terraform/utils/certs
.terraform
*.tfstate*
terraform.tfvars
*terraform.tfvars_example
bootstrap-secrets.json
.DS_Store

# python
__pycache__

# venv
bin 
lib
pyvenv.cfg
include
venv

# Atomic Attack Lab
my_conf.yml
certs/*
openvpn_client_certs/*
